extends layout.pug

block content
    .horizontal-flex.vmargin
        .column.border
            .subtitle Market Listing
            .horizontal-flex
    if(Object.keys(market).length === 0)
        .vmargin.border
            .info Database is journaling, probably.
    else
        .horizontal-flex.spread.vmargin
            each listed in market
                a.box.border.margin.vertical-flex(href=`/items/${listed.item}`)
                    .sprite-container.small
                        div(style=sprites.item(listed.item, 32))
                    span.align-center=item_data[listed.item].name
                    span.align-center.gray.medsmall=item.avgprice
