extends layout.pug

block content
    .horizontal-flex.vmargin
        .column.border
            .subtitle Market Listing
            .horizontal-flex
    if(Object.keys(market).length === 0)
        .vmargin.border
            .info No market data avaliable.
    else
        .horizontal-flex.spread.vmargin
            each listed in Object.keys(market)
                a.box.border.margin.vertical-flex(href=`/market/${listed}`)
                    .sprite-container.small
                        div(style=sprites.item(listed, 32))
                    span.align-center=items_data[listed].name
